---
import { getCollection } from "astro:content";
import { BLOGS, HOME, SIDE_PROJECTS, WORK_EXPERIENCES } from "../consts";
import Page from "../layouts/Page.astro";
import { dateRange } from "../lib/utils";

const workExperiencesCollection = await getCollection("work-experiences");
const workExperiences = await Promise.all(
  workExperiencesCollection.map(async (experience) => {
    const { Content } = await experience.render();
    return {
      ...experience.data,
      Content,
    };
  })
);
---

<Page page={HOME}>
  <section>
    <h3>
      Hi wanderers! <img
        class="w- h-8 inline-block align-sub"
        alt="a green frog with big eyes and a smile"
        title="yay frog random"
        loading="lazy"
        src="yay-frog.gif"
      />
    </h3>
    <p>
      I'm <em class="large">Ke</em>, <em class="large">David</em>. I build
      things at Canva. Outside of work, I like learning new things and doing
      random projects too since it's just fun fun.
    </p>
    <p>
      I also enjoy a few hobbies, like playing futsal, reading, photography,
      skating, and more.
    </p>
  </section>

  <section>
    <div class="flex flex-wrap items-center justify-between">
      <h4>Recent posts</h4>
      <a href={BLOGS.url} class="hover:animate-bounce">See all</a>
    </div>
  </section>

  <section class="space-y-4">
    <div class="flex flex-wrap items-center justify-between">
      <h4>Work experiences</h4>
      <a href={WORK_EXPERIENCES.url} class="hover:animate-bounce">See all</a>
    </div>
    <ul class="flex flex-col space-y-8 list-none ml-0">
      {
        workExperiences.map((workExperience) => (
          <li>
            <div class="text-sm opacity-75">
              {dateRange(workExperience.dateStart, workExperience.dateEnd)}
            </div>
            <div class="font-semibold text-black dark:text-white">
              {workExperience.company}
            </div>
            <div class="text-sm opacity-75">{workExperience.role}</div>
            <blockquote class="mt-2">{workExperience.summary}</blockquote>
          </li>
        ))
      }
    </ul>
  </section>

  <section>
    <div class="flex flex-wrap items-center justify-between">
      <h4>Side Projects</h4>
      <a href={SIDE_PROJECTS.url} class="hover:text-fore">See all</a>
    </div>
  </section>
</Page>
